
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Custom
$font-family-raleway: "Raleway", sans-serif;
$font-family-catamaran: "Catamaran", sans-serif;
$highlight-primary: #E20938;
$highlight-secondary: #35BFBC;